!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

cdk.context.json
cdk.out/
private/
.idea/
node_modules/
*.env
*.swp
*.log
*config.ini
*.xlsx
*.csv
.mysql_rds
.mysql_mamp
.mysql_vagrant
.phpunit.result.cache
phpinfo.php
*.jar
.vagrant/
private/cert/
logs/
*error_log.php
/vendor
/dev/jwt.txt
/dev/curlscript.sh
*build/
